<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERS</title>
</head>
<body>
    <%if(locals.user){%>
        
        

                <!-- the text part -->
        <div class="home-box">
            <i class="text-colr">Welcome to Employee Review System that helps the admin identify top-performing employees by assigning co-worker reviews. It also allows the admin to promote employees to admin status and add new employees. This system creates a culture of accountability and promotes excellence, leading to better hiring decisions and a stronger workforce.</i>
            <hr>
        </div>

        <div class="home-box mb-5" style="text-align: center;">
            <% for(let review of assignedTome.assignedReviews) {%>
                <%if(review != null && review.content == null) {%>
            <div class="employeereview"><br>
            <i><h6>This task is assigned by the Admin</h6></i>
            </div>

            <div class="reviewBox">
        
                        <div class="outerBox">
                            <h6>
                                To : <%= review.reviewedTo.name%>
                            </h6>
                            <div class="innerBox">
                                <form action="/reviews/newReview/<%= review._id %>" method="get">
                                    <textarea class="formClass" placeholder="Review, here !" name="newReview" rows="5"
                                    id="floatingTextarea2">
        
                                    </textarea>
                                    <br>
                                    <button type="submit" class="submitHomeButton"> Submit </button>
                                </form>
                            </div>
                        </div>
                    <%}%>
                <%}%>   
            </div>
        </div>

        <div class="home-box mt-5" style="text-align: center;">
           <b><h2 class="myreview" >My Reviews: </h2></b>
            <div class="reviewBox">

            
                <div class="card-out">
                    <% for(let review of myReviews.myReviews) {%>
                        <div class="in-card">
                            <% if (review.content != null){%>
                            <h5 class="cls-txt">Message : <%= review.content%> </h5>
                            <p class="cls-txt">From : <%= review.reviewerFrom.name %> </p>
                            <%}%>
                            
                        </div>
                    <%}%>    
                </div>
            

        </div>

    </div>
    <%}%>

</body>
</html>